$evq-light-blue: #4996ce;
$evq-light-grey: #DEE0E3;
$evq-light-light-grey: #F2F2F2;
$evq-grey: #333333;
$evq-background-blue: #D6E7F5;
$evq-focus: #4996ce;
$evq-success: #27ae60;
$evq-error: #c0392b;
