div.evq-value-selector {
	div.xpath-mode {
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}
	
	input[name="simple_value"], div.evq-xpath-input {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 0.3rem;
	}
}
