div.formdiv {
	display: block;
	
	&>div {
		margin-top: 10px;
		margin-bottom: 10px;
		
		label {
			min-width: 15rem;
			display: inline-block;
			text-align: right;
			margin-right: 1rem;
			vertical-align: middle;
		}
		
		&>input[type='text'], &>input[type='password'], &>input[type='color'] {
			width: 21rem;
			box-sizing: border-box;
			vertical-align: middle;
		}
		
		&>textarea {
			width: 21rem;
			height: 6rem;
			box-sizing: border-box;
			resize: none;
			vertical-align: middle;
		}
		
		&>.evq-select {
			width: 21rem;
		}
		
		&>.evq-autocomplete {
			width: 21rem;
		}
		
		&>.evq-xpath-input {
			width: 21rem;
		}
	}
	
	div.inline-error {
		margin-left:16rem;
		position: absolute;
		border: 1px dotted;
		background-color: white;
		padding: 0.3rem;
		z-index: 1000;
		margin-top: 3px;
	}
}
