table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	
	th.thActions {
		width:80px;
	}
	
	table.highlight_row tr:hover {
		border-left: 3px solid #647FE0;
		border-right: 3px solid #647FE0;
	}
	
	th, td {
		line-height: 20px;
		padding: 2px 3px;
	}
	
	&.evenodd {
		tr:nth-child(odd) {
			background-color: white;
		}
		tr:nth-child(even) {
			background-color: $evq-light-grey;
		}
	}
	
	&.evenodd4 {
		tr:nth-child(4n+1), tr:nth-child(4n+2) {
			background-color: white;
		}
		tr:nth-child(4n+3), tr:nth-child(4n+4) {
			background-color: $evq-light-light-grey;
		}
	}
}

table.border {
	th, td {
		border: 1px solid $evq-light-grey;
	}
	
	tr.group {
		background: #CCC;
	}

	tr.group td {
		font-size: 15px;
		font-weight: bold;
		padding: 7px;
	}

	tr.groupspace td {
		height: 2em;
		border: none;
	}

	td.tdActions, th.tdActions {
		text-align: center;
		width: 6rem;
	}
}

table.hover {
	tr:hover {
		background-color: $evq-background-blue;
	}
}
