div.evq-user-edit-rights {
	table {
		td:nth-child(2) {
			width: 5rem;
			text-align: center;
		}
		
		td:nth-child(3) {
			width: 5rem;
			text-align: center;
		}
		
		td:nth-child(4) {
			width: 5rem;
			text-align: center;
		}
		
		td:nth-child(5) {
			width: 5rem;
			text-align: center;
		}
	}
}
