div.evq-workflow-schedules-list {
	td:nth-child(1) span {
		&::before {
			content: "(";
		}
		
		&::after {
			content: ")";
		}
		
		margin-left: 0.5rem;
		font-style: italic;
		color: grey;
	}
	
	th:nth-child(2) {
		width: 6rem;
	}
	
	td:nth-child(2) {
		text-align: center;
	}
	
	th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6) {
		width: 10rem;
	}
	
	td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
		text-align: center;
	}
}
