div.evq-notification-types {
	input[type='file'] {
		margin: auto;
		display: block;
		border: 1px dotted grey;
		padding: 0.5rem;
		border-radius: 1rem;
	}
	
	div.plugin-help {
		text-align: center;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}
}
