.evq-logs-elogs {
	ul {
		list-style-type: none;
		margin: 0px;
		padding-left: 1rem;
		
		li {
			span.label {
				display: inline-block;
				width: 10rem;
				font-weight: bold;
				text-align: right;
			}
		}
	}
}
