div.evq-autocomplete {
	display: inline-block;
	
	div {
		border: 1px solid grey;
		border-radius: 0.4rem;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		
		&>span {
			border: 1px solid lightgrey;
			margin: 0.2rem;
			padding: 0.2rem;
			border-radius: 0.4rem;
		}
		
		input {
			border: 0px;
			box-sizing: border-box;
			width: 100%;
			flex-grow: 1;
			flex-basis: 5ch;
			min-width: 0;
		}
	}
	
	div.evq-autocomplete-dropdown {
		box-sizing: border-box;
		position: absolute;
		z-index: 100;
		background-color: #ffffff;
		border-style: solid;
		border-color: grey;
		border-width: 0px 1px 1px 1px;
		border-radius: 0rem 0rem 0.2rem 0.2rem;
		max-height: 12rem;
		overflow: auto;
		padding-left: 0.4rem;
		
		ul {
			width: 100%;
			padding-left: 0rem;
			padding-top: 0.1rem;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		
		li {
			padding: 0.4rem 0rem 0.4rem 0rem;
			cursor: pointer;
			height: auto;
			list-style: none;
			
			&:hover {
				background-color: #5897fb;
				color: #ffffff;
			}
		}
	}
}

div.evq-autocomplete.multiple {
	display: inline-block;
	
	div {
		input {
			margin: 0.2rem;
		}
	}
}
