input[type='text'], input[type='password'] {
	border-radius: 0.4rem;
	border: 1px solid grey;
	height: 1.7rem;
	padding-left: 0.4rem;
	
	&:focus {
		border-color: $evq-focus;
		outline: none;
	}
}

textarea {
	padding: 0.4rem;
	border: 1px solid grey;
	border-radius: 0.4rem;
	
	&:focus {
		border-color: $evq-focus;
	}
}

input[type='number'] {
	border-radius: 0.4rem;
	border: 1px solid grey;
	height: 1.7rem;
	padding-left: 0.4rem;
	width: 4rem;
	
	&:focus {
		border-color: $evq-focus;
	}
}
