div.evq-script-editor {
	textarea {
		width: 100%;
		box-sizing: border-box;
		resize: none;
		min-height: 14rem;
		font-family: monospace;
	}
	
	code {
		border-radius: 0.4rem;
		height: 14rem;
		padding: 0.4rem;
		font-size: 0.8rem;
	}
}
